body{
  margin:0;
  background:#000;
  overflow:hidden;
  font-family:Arial, sans-serif;
}

#startBtn{
  position:fixed;
  top:20px;
  left:20px;
  z-index:10;
  padding:10px 18px;
}

#gestureDebug{
  position:fixed;
  bottom:200px;
  left:20px;
  color:#fff;
  z-index:10;
}

#camContainer{
  position:fixed;
  bottom:20px;
  left:20px;
  width:240px;
  height:180px;
  border:2px solid cyan;
  z-index:10;
}

#video,#overlay{
  position:absolute;
  width:100%;
  height:100%;
  transform:scaleX(-1);
}
